In [1]:
import pandas as pd

In [88]:
data = pd.read_csv('data_2nd_Digit.csv',parse_dates=True,index_col=0)

In [89]:
data.head()

,Day,Month,Year,data_2nd_Digit,OE,T2M,T2MDEW,T2MWET,TS,T2M_RANGE,T2M_MAX,T2M_MIN,PRECTOTCORR
Date,,,,,,,,,,,,,
1997-12-03,3,12,1997,20,Even,8.48,4.61,6.55,7.95,5.73,11.27,5.54,0.93
1997-12-06,6,12,1997,2,Even,7.45,2.40,4.93,7.15,12.12,13.76,1.64,0.04
1997-12-10,10,12,1997,1,Even,8.84,5.39,7.12,7.52,10.19,14.52,4.33,0.57
1997-12-13,13,12,1997,5,Even,8.65,3.40,6.02,7.65,12.05,16.51,4.46,0.00
1997-12-17,17,12,1997,10,Odd,9.91,6.57,8.24,9.32,9.53,14.90,5.37,0.16

In [95]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [96]:
x = data[['data_2nd_Digit','PRECTOTCORR']]
y = data['OE']
y = np.array([0 if value=='Odd' else 1 for value in y])

In [97]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=42)

In [98]:
neigh = KNeighborsClassifier()
neigh.fit(x_train,y_train)
y_pred = neigh.predict(x_test)
accuracy_score(y_test,y_pred)

0.48105625717566014